body {
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  background-color: #0F1020;
  color: white;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
  color: #3772FF;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
}

p,
strong,
a,
label,
input {
  font-size: 1rem;
  margin: 0;
}

#popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#extension-body-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.step-container {
  border: 4px solid;
  border-image: linear-gradient(90deg, #3772FF, #3346AF) 1;
  border-radius: 15px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#left-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#right-container {
  border: 4px solid;
  border-image: linear-gradient(90deg, #3346AF, #2F195F) 1;
  border-radius: 15px;
  padding: 20px 10px;
}

#playlist-info {
  border-collapse: collapse;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#playlist-info table td {
  padding: 8px;
  border-bottom: 1px solid #2F195F;
  color: #B0B3D6;
}

button {
  font-weight: bold;
  font-size: 1rem;
  background-color: #3772FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
}

button:hover {
  background-color: #6d99ff;
}

#reset-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#reset-button-container button {
  padding: 0 80px;
}

#url-input {
  border: none;
  border-radius: 5px;
  padding: 7px;
}

#url-input:focus {
  outline: #3772FF 2px solid;
}